<h1> Weather Dashboard </h1>

<a href='/'>Home</a>
<a href='/conditions'>Weather Index</a>
<a href='/stations'>Stations</a>
<a href='/trips'>Trips</a>


Number of trips based on temperature

Number of trips based on precipitation
