<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/trip/all.css">
</head>

<body>
  <div class="container">
    <header>
      <h1> Trips </h1>
      <nav>
        <ul>
          <li><a href="/trips-dashboard">Trip Dashboard</a></li>
          <li> <a href="/trips/new"> New Trip </a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <% @trips.each do |trip| %>
      <section class="trip">
        <a href="/trips/<%=trip.start_date%>"> <%= trip.start_date %> </a></br>
        <section class="edit">
          <a href="/trips/<%=trip.id%>/edit"> Edit </a>
        </section>
        <section class="delete">
          <form action='/trips/<%=trip.id%>' method='POST'>
            <input type='hidden' name='_method' value='DELETE'>
            <button type='submit' class="delete_button">Delete</button>
          </form>
        </section>
      </section>
    <% end %>
  </div>
</body>
